body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

img {
    max-width: 100%;
}

@font-face {
   font-family: GothamSSm-Bold;
   src: url(GothamSSm-Bold.otf);
}

@font-face {
   font-family: GothamSSm-Book;
   src: url(GothamSSm-Book.otf);
}

@font-face {
   font-family: GothamSSm-Medium;
   src: url(GothamSSm-Medium.otf);
}

.headerContainer {
    background-image: url(ic-home-demo-bg.jpg);
    flex: 1;
    width: 100vw;
    height: calc(100vw / 2.5);
    display: flex;
    background-size: cover;
    align-items: center;
}

.backArrowHeader {
    width: 100vw;
    height: 3.5em;
    padding: 0.625em;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-top: 1.8em;
    margin-bottom: 1em;
}

.iconCircle {
    box-shadow: 0 3px 4px 1px rgba(196, 196, 196, 0.31);
    border-radius: 50%;
    background-color: #ffffff;
    left: 1em;
    width: 2.25em;
    height: 2.25em;
    display: flex;
    position: absolute;
    align-items: center;
    padding-bottom: 0.125em;
    justify-content: center;
}

.arrowBackIcon {
    width: 1.5em;
    height: 1.5em;
}

.headerBox {
    width: 100vw;
    display: flex;
    padding: 1em;
    margin-top: 3.5em;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #9752ff;
    font-size: 1.5em;
    font-family: GothamSSm-Black;
    font-weight: 300;
    line-height: 0.95;
    padding: 0.625em;
    margin-top: 2.8em;
}

.leftArrow{
    width: 1.5em;
    height: 1.5em;
}

.rightArrow{
    width: 1.5em;
    height: 1.5em;
}

.scrollTitle{
    color: #9752ff;
    font-size: 1.3em;
    font-family: GothamSSm-Black;
    font-weight: 300;
    line-height: 0.95;
    padding: 0.625em;
}

.welcomeText {
    font-family: GothamSSm-Book;
    line-height: 1.31;
    color: #666666;
    font-size: 1em;
}

.welcomeGrid {
    margin-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1.5em;
}

.divider{
   height: 2px;
  opacity: 0.13;
  border: solid 1px #979797; 
  margin-top: 1.5em;
}

.margin0{
    margin: 0;
}

.padding0{
    padding: 0;
}

.textGrid {
    margin-top: 1.5em
}
.modal-footer{
    background-color: #f9f9f9;
    box-shadow: 0 3px 4px 0 rgba(221, 94, 10, 0.3);
    margin-top: 0px;
    padding: 0;
}

.text {
  object-fit: contain;
  font-family: GothamSSm-Medium;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: -0.3px;
  color: #000000;
}

.profileIcon {
    width: 1.5em;
    height: 1.5em;
    align-self: flex-end;
}

.enterDetailsPadding{
    padding-left: 1em;
    padding-right: 0;
}

.enterDetailsMargin {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.defaultText {
  font-family: GothamSSm-Medium;
  font-size: 0.625em;
  line-height: 1;
  color: #999999;
}

.inputText {
    border: 0;
    border-bottom: 1px solid #979797;
    outline: 0;
    font-size: 1em;
    padding: 0;
    border-radius: 0;
    object-fit: contain;
    line-height: 1.31;
    color: #666666;
    font-family: GothamSSm-Book;
}

.outerRow {
    margin: 0;
    display: flex;
    margin-bottom: 2em;
    width: 100%;
    align-items: center;
}

.dateText {
  font-family: GothamSSm-Book;
  font-size: 1em;
  line-height: 1.17;
  color: #666666;
}

.circle{
  background-color: #ffffff;
  box-shadow: 0 11px 12px 3px rgba(196, 196, 196, 0.31);
  border-radius: 50%;
  display: inline-block;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
}
.circleText{
  color: #9752ff;
  font-family: GothamSSm-Medium;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: -0.3px;
}

.dateRow {
    margin-top: 0.75em;
}

.dayColumn {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.day {
    margin-top: 0.375em;
    object-fit: contain;
    font-family: GothamSSm-Medium;
    font-size: 0.687em;
    line-height: 1;
    color: #999999;
}

.requestDemo{
    height: 2.5em;
    border-radius: 1.687em;
    background-image: linear-gradient(to right, #9752ff, #5e93ff);
    box-shadow: 0 4px 6px 0 rgba(91, 22, 170, 0.18);
    color: white;
}

.requestDemo:focus,.requestDemo:active {
   outline: none !important;
   box-shadow: none;
}

#myModal {
    position:fixed;
   top:auto;
   right:auto;
   left:auto;
   bottom:0;
   width: 100%;
   box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
   border-radius: 1em;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
    margin: 0;
}

.modal-body {
  border-radius: 0;
  padding: 0.5em;
}

.modal-content {
  height: 100%;
  border-radius: 0;
  position:relative;
}

.datepicker-inline {
    width: 100%;
    padding: 0;
}

.table-condensed {
    width: 100%;
    height: 300px;
}

tbody{
    height: 18.750em;
}

.onScrollHeader{
    z-index: 9999;
    background-color: #ffffff;
    margin: 0;
    top:0;
}

.form-control:focus {
    border-color: #9752ff;
    outline: 0;
    box-shadow: none;
}

.form-group {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

label, input {
  transition: all 0.2s;
  margin-bottom: 0;
  touch-action: manipulation;
}

.datepicker table tr td.today {
    background-image: linear-gradient(135deg, #5e93ff, #9752ff);
    height: 2.8em;
    border-radius: 50%;
    color: "#ffffff";
}

i {
    border: solid #cfcfcf;
    border-width: 0 3px 3px 0;
    width: 1em;
    height: 1em;
    margin-bottom: 0.5em;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.down-arrow {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.dow {
    object-fit: contain;
    font-family: GothamSSm-Book;
    font-size: 0.8em;
    line-height: 1.31;
    color: #666666;
    text-transform: uppercase;
}

.form-group .floating-label {
	position: absolute;
	pointer-events: none;
	transition: 0.2s ease all;
    font-family: GothamSSm-Medium;
    font-size: 1em;
    line-height: 1;
    color: #999999;
   
}
.form-group input:focus ~ .floating-label{
	top: 0px;
	font-size: 0.8em;
	opacity: 1;
    margin-bottom: 0.5em;
}

.datepicker table tr td.active {
  background-image: linear-gradient(135deg, #5e93ff, #9752ff);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5e93ff),to(#9752ff));
  background-image: -webkit-linear-gradient(to bottom,#5e93ff,#9752ff);
}

.datepicker td {
    width: 2.188em;
    border-radius:1em;
}

.iconGrid{
    padding: 0;
    margin-top: 3.375em;
}

.textGrid{
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message {
      object-fit: contain;
      font-family: GothamSSm-Medium;
      font-size: 0.92em;
      font-weight: 600;
      letter-spacing: 0.1px;
      color: #000000;
}

.endText{
      font-family: GothamSSm-Book;
      font-size: 0.92em;
      line-height: 1.31;
      text-align: center;
      color: #666666;
}

.footerText {
      object-fit: contain;
      font-family: GothamSSm-Book;
      font-size: 0.9em;
      line-height: 1.31;
      color: #666666;
      margin-left: 10px;
      align-self: center;
}

.box {
    display: flex;
    align-content: center;
    width: 9.375em;
    margin-top: 0.6em;
}
.images{
    width: 0.75em;
    height: 0.75em;
    object-fit: contain;
    align-self: center;
}
.dataUnavailable{
    width: 0.75em;
    height: 0.75em;
    object-fit: contain;
    background-color: #cbcaca;
    border-radius: 35%;
    align-self: center;
}

.outerBox {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 0em;
    flex-direction: column;
    margin-bottom: 0.6em;
    margin-left: 1em;
}

.today {
   width: 0.75em;
   height: 0.75em;
   object-fit: contain;
   background-color: #ff7a8d;
   border-radius: 35%;
   align-self: center;
}

.selected {
  width: 0.75em;
  height: 0.75em;
  object-fit: contain;
  background-color:#9752ff;
  border-radius: 35%;
  align-self: center;
}

#year {
  object-fit: contain;
  font-family: GothamSSm-Book;
  font-size: 13px;
  line-height: 1.31;
  color: #666666;
  margin-left: 10px;
}

.currentMonth{
  object-fit: contain;
}


#month {
  object-fit: contain;
  font-family: GothamSSm-Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: -0.3px;
  color: #000000;
}

.modal-footer>:not(:last-child) {
    margin-right: 0rem;
}

.datepicker th {
    height: 1.875em;
}

.datepicker .prev:hover {
    background-color: #ffffff;
}

.datepicker .next:hover {
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .welcomeGrid {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation: landscape) {
        
    body {
        font-size: 26px;
    }
    
    .modal-dialog {
        max-width: inherit;
    }
}

@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation: portrait) {
        
    body {
        font-size: 26px;
    }
    
    .modal-dialog {
        max-width: inherit;
    }
}