@font-face {
  font-family: 'GothamSSm-Black';
  src: url("./GothamSSm-Black.otf"); }

@font-face {
  font-family: 'GothamSSm-Bold';
  src: url("./GothamSSm-Bold.otf"); }

@font-face {
  font-family: 'GothamSSm-Book';
  src: url("./GothamSSm-Book.otf"); }

@font-face {
  font-family: 'GothamSSm-BookItalic';
  src: url("./GothamSSm-BookItalic.otf"); }

@font-face {
  font-family: 'GothamSSm-Light';
  src: url("./GothamSSm-Light.otf"); }

@font-face {
  font-family: 'GothamSSm-Medium';
  src: url("./GothamSSm-Medium.otf"); }



@keyframes leaves {
  0% {
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
  }
  50% {
      transform: scale(0.95, 0.95);
      -webkit-transform: scale(0.95, 0.95);
  }
  100% {
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 600px) {
  #root {
    font-size: 22px;
  }
}

@media (max-width: 340px) {
   #root {
    font-size: 14px;
  }
}
